<!DOCTYPE html>
<html lang="mn">
<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Мэдэгдэл</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<div class="container">

    <div class="card">

        <div class="logo">
            ⚠️
        </div>

        <h1>Мэдэгдэл</h1>

        <div class="error-box">
            {{ message }}
        </div>

        <a
            href="{{ url_for('index') }}"
            class="main-button link-button"
        >
            БУЦАХ
        </a>

    </div>

</div>

</body>
</html>