<!DOCTYPE html>
<html lang="mn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Цахим шалгалт</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<div class="container">

    <div class="card">

        <div class="logo">📝</div>

        <h1>Цахим шалгалт</h1>

        {% if exam_open %}

            <p class="description">
                Шалгалтын төрлөө сонгоно уу.
            </p>

            <form
                action="{{ url_for('select_exam') }}"
                method="POST"
            >

                <button
                    class="exam-button"
                    name="exam_type"
                    value="ААД"
                    type="submit"
                >
                    ААД
                </button>

                <button
                    class="exam-button"
                    name="exam_type"
                    value="Нарядын систем"
                    type="submit"
                >
                    Нарядын систем
                </button>

            </form>

        {% else %}

            <div class="closed-box">
                🔒
                <h2>Шалгалт одоогоор хаалттай</h2>

                <p>
                    Шалгалтын хугацаанд дахин орно уу.
                </p>
            </div>

        {% endif %}

    </div>

</div>

</body>
</html>